<template>
  <v-container>

      <v-label>Dashboard  </v-label>


    <v-sparkline
      :value="rawValues"
      :labels="rawValues"
      show-labels
      color="#D50000"
      smooth
      padding="24"
      line-width="2"
      stroke-linecap="round"
      auto-draw
    ></v-sparkline>

      <v-expansion-panels focusable>
      <v-expansion-panel>
        <v-expansion-panel-header>
          Token for service call
        </v-expansion-panel-header>
          
        <v-expansion-panel-content>
          <v-card flat>
            <v-card-text>
              {{ $keycloak.token }}
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>

      </v-expansion-panel>


      <v-expansion-panel>
        <v-expansion-panel-header>
          Values raw
        </v-expansion-panel-header>
          
        <v-expansion-panel-content>
          <v-card flat>
            <v-card-text>
              {{ rawValues }}
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>

      </v-expansion-panel>
    </v-expansion-panels>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

const gradients = [
  ['#222'],
  ['#42b3f4'],
  ['red', 'orange', 'yellow'],
  ['purple', 'violet'],
  ['#00c6ff', '#F0F', '#FF0'],
  ['#f72047', '#ffd200', '#1feaea'],
]

export default {
  name: 'Dashboard',

  data: () => ({
    gradient: gradients[5],
    timer: ''
  }),

  created () {
    this.getMoistureValues()
    this.timer = setInterval(this.getMoistureValues, 5000)
  },

  beforeDestroy () {
    clearInterval(this.timer)
  },

  mounted() {
    this.getMoistureValues()
  },

  computed: {
    ...mapGetters(['moistureValues']),

    rawValues() {
      if (this.moistureValues) 
        return this.moistureValues.map(x => x.value).reverse();
      else
        return []
    }

  },

  methods: {
    ...mapActions(['getMoistureValues']),

  }

};
</script>
