<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-label>Zones</v-label>
    </v-layout>


    <v-card
      max-width="500"
      class="mx-auto"
    >

      <v-list>
        <v-list-group
          v-for="item in zones"
          :key="item.title"
          v-model="item.active"
          no-action
        >

          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-card>

          </v-card>

        </v-list-group>

      </v-list>

    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'Zones',

  data: () => ({

    zones: [
      {title: "Avant maison", active: true},
      {title: "Avant garage", active: false},
      {title: "Arriere garage", active: false},
      {title: "Cote maison", active: false}
    ]
  }),


};
</script>
