<template>
  <v-app>
    
    <v-app-bar
      app
      color="primary"
      dark
      clipped-left
    >
      
      <v-toolbar-title>Water system</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn dark color="primary" v-on="on">
            <v-icon>mdi-account</v-icon>
            {{ $keycloak.fullName }}
          </v-btn>
        </template>

        <v-list>
          <v-list-item v-on:click="logout">
            <v-list-item-title>
              <v-icon>mdi-logout</v-icon>
              Logout
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-navigation-drawer
      dark
      width="200px"
      permanent
      app
      clipped
    >

      <v-list>
        <v-list-item href="/dashboard" link>
          <v-list-item-content>
            <v-list-item-title>
              Dashboard
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item href="/zones" link>
          <v-list-item-content>
            <v-list-item-title>
              Zones
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <router-view></router-view>
    </v-content>
    
  </v-app>
</template>

<script>
export default {
  name: 'App',

  components: {
  },

  data: () => ({
    //
  }),

  methods: {
    logout() {
      this.$keycloak.logoutFn()
      this.$route.router.go('/')
    }
  }
};
</script>
